<app-nav></app-nav>
<body>
    <div class="login-container" >
        <h1>Iniciar Sesión</h1>
        <form (ngSubmit)= "onSubmit()" #doctorForm = "ngForm">
            <label>Usuario: </label>
            <input type = "text"
            id = "documento"
            [(ngModel)] ="iddoctorString"
            name = "documento"
            required
            maxlength="20"
            placeholder="Digite el usuario"
            #iddoctor = "ngModel"
            >
            <div class="alert alert-danger" *ngIf= "iddoctor.invalid && (iddoctor.dirty || iddoctor.touched)">
              <div *ngIf = "iddoctor.errors?.['required']">
                Ingrese el usuario
              </div>
            </div>

            <label>Contraseña: </label>
            <input type = "password"
            id = "idDoctor"
            [(ngModel)] = "doctor.contrasena"
            name = "idDoctor"
            required
            maxlength="25"
            placeholder="Digite la contraseña"
            #contrasena = "ngModel"
            >
            <div class="alert alert-danger" *ngIf= "contrasena.invalid && (contrasena.dirty || contrasena.touched)">
              <div *ngIf = "contrasena.errors?.['required']">
                Ingrese la contraseña
              </div>
            </div>
              <button class="btn btn-success"   [disabled]= "!doctorForm.form.valid">Guardar</button>
        </form>
    </div>
</body>
