<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="!userLoginOn" class="nav-item">
          <a routerLink="/iniciarSesion" class="nav-link">Iniciar Sesión</a>
        </li>
        <li *ngIf="userLoginOn" class="nav-item">
          <a routerLink="" (click)="ListaPacientes()" class="nav-link">Lista de pacientes</a>
        </li>
        <li *ngIf="userLoginOn" class="nav-item">
          <a routerLink="/" (click)="RegistrarPaciente()" class="nav-link">Nuevo paciente</a>
        </li>
        <li *ngIf="userLoginOn" class="nav-item">
          <a routerLink="/" (click)="CerrarSesion()" class="nav-link">Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
