<h1 class="text-center p-4 mb-2 bg-dark text-white" style="min-width: 660px;">{{title}}</h1>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="min-width: 660px;">
  <ul class="navbar-nav" >
    <li class="nav-item">
      <a routerLink="pacientes" routerLinkActive="active" class="nav-link">Lista de pacientes</a>
    </li>
    <li>
      <a routerLink="registrarPaciente" routerLinkActive="active" class="nav-link">Nuevo paciente</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

